body 
{
    background-image: radial-gradient(circle, #0565f6, #00a2fe, #00c9da, #a1e6c9, #f9ffed);
}
h1 
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper-flex-container 
{
    
    display: flex;
    justify-content: space-around;
}
.wrapper-image img
{
    
    width: 250px;
    border-radius: 50%;
}
.wrapper-contact-info 
{
    width: fit-content;
    margin-top: 40px;
}
.wrapper-contact-info p 
{
    color: black;
    font-size: 18px;
}
.wrapper-contact-info h2 
{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -16px;
}
.wrapper-contact-info a 
{
    padding-left: 4px;
}
.wrapper-text-area 
{
    text-align: center;
}
.text-area 
{
    display: inline-block;
    vertical-align: middle;
    padding: 1rem, 1rem;
    color: black;
    font-size: larger;
    font-style: italic;
    padding-left: 50px;
}

.flex-container 
{
    display: flex;
    justify-content: space-around;
}
.flex-container div 
{
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.footer-text 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: larger;
    text-align: center;

}